<?php /** @var Appli5\Weatherwoman\Block\WeatherArchive $block */ ?>
<h1>Your Weatherwoman</h1>

<?php if ($block->isModuleEnabled()): ?>
    <div>
        <h2>Current Weather</h2>
        <?php $currentWeatherArchive = $block->getLastWeatherArchive(); ?>

        <?php if (!is_null($currentWeatherArchive)): ?>
            <?php $weather = $block->getWeatherObject($currentWeatherArchive); ?>
            <img src="<?php echo $weather->weather->getIconUrl(); ?>"
                 alt="<?php echo $weather->weather->description ?>">
            <ul>
                <li>
                    <strong>City:</strong> <?php echo "{$weather->city->name}  ({$weather->city->country})"; ?>
                </li>
                <li>
                    <strong>Time:</strong> <?php echo $weather->lastUpdate->format('Y-m-d H:i:s'); ?>
                </li>
                <li>
                    <strong>Weather:</strong>
                    <?php echo $weather->weather->description ?>
                </li>
                <li>
                    <strong>Temperature:</strong> <?php echo $weather->temperature->getFormatted(); ?>
                </li>
                <li>
                    <strong>Pressure:</strong> <?php echo $weather->pressure->getFormatted(); ?>
                </li>
                <li>
                    <strong>Humidity:</strong> <?php echo $weather->humidity->getFormatted(); ?>
                </li>
                <li>
                    <strong>Clouds:</strong> <?php echo $weather->clouds->getFormatted(); ?>
                </li>
                <li>
                    <strong>Wind:</strong> <?php echo "{$weather->wind->speed}, {$weather->wind->direction}"; ?>
                </li>
            </ul>
        <?php else: ?>
            <p>There is no information about the current weather :(, please try to come back later :)</p>
        <?php endif; ?>
    </div>


    <?php $weatherArchives = $block->getWeatherArchivesByDate(new \DateTimeImmutable()); ?>
    <?php if (!empty($weatherArchives)): ?>
        <div>
            <h2>Weather all day long</h2>
            <table>
                <thead>
                <th></th>
                <th>Time</th>
                <th>Weather</th>
                <th>Temperature</th>
                <th>Pressure</th>
                <th>Humidity</th>
                <th>Clouds</th>
                <th>Wind</th>
                </thead>
                <?php foreach ($weatherArchives as $weatherArchive): ?>
                    <tr>
                        <?php $weather = $block->getWeatherObject($weatherArchive); ?>
                        <td>
                            <img src="<?php echo $weather->weather->getIconUrl(); ?>"
                                 alt="<?php echo $weather->weather->description ?>" />
                        </td>
                        <td>
                            <?php echo $weather->lastUpdate->format('H:i:s'); ?>
                        </td>
                        <td>
                            <?php echo $weather->weather->description ?>
                        </td>
                        <td>
                            <?php echo $weather->temperature->getFormatted(); ?>
                        </td>
                        <td>
                            <?php echo $weather->pressure->getFormatted(); ?>
                        </td>
                        <td>
                            <?php echo $weather->humidity->getFormatted(); ?>
                        </td>
                        <td>
                            <?php echo $weather->clouds->getFormatted(); ?>
                        </td>
                        <td>
                            <?php echo "{$weather->wind->speed}, {$weather->wind->direction}"; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
    <?php endif; ?>
<?php else: ?>
    Sorry, the weatherwoman is currently on a break :(
<?php endif ?>

